@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.btn-link {
  font-weight: 500;
  border-radius: 10%;
  text-align: center;
}

.btn-link:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.logo-text {
  font-weight: 500;
  font-size: 1.5rem;
}
